# Queue

QUEUE_MAX_SIZE = 100

# Watcher

WATCHER_TIME_TO_SLEEP = 0.01
SUBRREDITS_TO_WATCH = []
SUBRREDITS_TO_WATCH_LIST = ['testingground4bots']

SUBRREDITS_TO_WATCH_FOR_SUBMISSIONS_LIST = ['PostPreview','all']
SUBRREDITS_TO_WATCH_FOR_COMMENTS_LIST = ['testingground4bots', 'PostPreview']

# Filter

DISCARD_ITEMS_AFTER_BOT_START = True
FILTER_TIME_TO_SLEEP = 0.1
USERNAME_TO_WATCH = ['dummy']
KEYWORD_TO_LOOK_FOR = 'dummy'

KEYWORD_TO_LOOK_FOR_SUBMISSION = 'dummy'
KEYWORD_TO_LOOK_FOR_COMMENT = 'dummy'

# Doer

DOER_TIME_TO_SLEEP = 10
DO_POST = True
DO_PM = True
USERNAME_TO_NOTIFY = 'dummy'

USERNAME_TO_NOTIFY_FOR_SUBMISSION = 'dummy'
USERNAME_TO_NOTIFY_FOR_COMMENT = 'dummy'
